html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('background1.webp'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, button, textarea {
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    height: 150px;
    resize: none;
}

.forecast-period {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.forecast-period label {
    display: flex;
    align-items: center;
}

.forecast-period input[type="radio"] {
    margin-right: 5px;
}
